@import "../../../styles/mixins.scss";

.container {
	display: flex;
	flex-direction: column;
}
.title {
	@include fluid(font-size, 32px, 42px);
	@include fluid(margin-bottom, 40px, 40px);
	display: flex;
	text-align: center;
	justify-content: center;
}
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: $breakpoint-md) {
		@include fluid(margin-bottom, 60px, 100px);

		flex-direction: column;
	}
}
.reverseFlex {
	flex-direction: row-reverse;

	@media screen and (max-width: $breakpoint-md) {
		flex-direction: column;
	}
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	margin: auto;

	@media screen and (max-width: $breakpoint-md) {
		@include fluid(margin-bottom, 30px, 40px);
		width: 100%;
	}
}

.image {
	@include fluid(width, 300px, 500px);

	display: flex;

	@media screen and (max-width: $breakpoint-md) {
		@include fluid(height, 300px, 500px);
	}
}

.label {
	@include fluid(font-size, 28px, 36px);
	@include fluid(margin-bottom, 30px, 40px);
}
.subtitle {
	@include fluid(font-size, 18px, 24px);
	@include fluid(margin-bottom, 20px, 30px);
}
.link {
	text-decoration: underline;
}
