@import "/styles/mixins.scss";

.container {
	@include fluid(margin-top, 40px, 60px);
	@include fluid(margin-bottom, 40px, 60px);

	@include fluid(gap, 20px, 40px);
	display: flex;
	flex-wrap: wrap;
}
.item {
	width: 48%;

	border-radius: 30px;
	background: rgb(249, 249, 249);
	box-shadow: 0px 5px 20px 2px rgba(34, 60, 80, 0.2);
	transition: $trn;

	cursor: pointer;

	&:hover {
		box-shadow: 0px 5px 40px 2px rgba(34, 60, 80, 0.2);
	}

	@media screen and (max-width: $breakpoint-md) {
		width: 100%;
	}
}
.image {
	@include fluid(font-size, 22px, 28px);
	border-radius: 30px 30px 0px 0px;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ccc;
}
.content {
	@include fluid(padding, 30px, 50px);
}
.title {
	@include fluid(font-size, 22px, 28px);
	@include fluid(margin-bottom, 20px, 40px);
}

.description {
	@include fluid(font-size, 18px, 22px);
	@include fluid(margin-bottom, 40px, 60px);

	color: rgb(131, 131, 131);
}
.price {
	display: flex;
	justify-content: flex-end;
	color: $basic-blue;
}
