@import "../../../styles/mixins.scss";

.container {
	@include fluid(padding-top, 70px, 100px);
	@include fluid(padding-bottom, 70px, 100px);

	border-top: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.title {
	@include fluid(font-size, 32px, 42px);
	line-height: 50px;
}

.subtitle {
	@include fluid(margin-top, 20px, 30px);
	@include fluid(margin-bottom, 30px, 40px);
	@include fluid(font-size, 16px, 24px);

	line-height: 30px;
}
