@import "../../../styles/mixins.scss";

.container {
	@include container;
	@include fluid(margin-top, 20px, 40px);
	@include fluid(margin-bottom, 20px, 40px);

	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.logo {
	@include fluid(font-size, 28px, 36px);
	// equal center nav menu
	padding-right: 100px;

	font-weight: 700;
	color: $basic-black;
}
.logoSpan {
	// font-weight: 700;
	color: $basic-blue;
}

.navigation {
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;

	@media screen and (max-width: $breakpoint-md) {
		justify-content: center;
		flex-direction: column;
	}
}
.navItem {
	@include fluid(font-size, 16px, 24px);

	color: $basic-black;

	&:hover {
		transition: 0.6s ease;
		color: $basic-link;
	}

	&:last-child {
		margin: 0;
	}

	@media screen and (max-width: $breakpoint-md) {
		@include fluid(padding-top, 10px, 20px);
		@include fluid(padding-bottom, 10px, 20px);
		display: flex;
		justify-content: center;
		margin: 0;
	}
}
.burger {
	@include fluid(margin-right, 10px, 15px);

	background: none;
	border: none;
	box-shadow: none;
}
.btnContainer {
	@media screen and (max-width: $breakpoint-md) {
		@include fluid(margin-top, 20px, 40px);
		@include fluid(margin-bottom, 20px, 40px);
	}
}
.button {
	@media screen and (max-width: $breakpoint-md) {
		display: flex;
		justify-content: center;
		margin: auto;
	}
}
.contactTitle {
	@include fluid(font-size, 16px, 18px);
	@include fluid(margin-bottom, 10px, 20px);
}
.contactButtons {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}
.contactButton {
	// Button at contact form modal

	&:last-child {
		margin-left: 10px;
	}
}
