@import "mixins";

.ant-select-single.ant-select-lg .ant-select-selector {
  padding-left: 22px !important;
  padding-right: 22px !important;
  font-size: 14px;
}

.ant-select {
  width: 100%;
}

.ant-modal-footer {
  display: none;
}
